@import "./colors.css";
@import "./spacing.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: auto;
  font-family: "Inter", sans-serif;
}

body {
  color: rgb(36, 41, 47);
  background: var(--slate-25);
}

a {
  color: inherit;
  text-decoration: none;
}
