/* All cells' styles */
.cell {
  width: 22.5px;
  height: 22.5px;

  border-right: 1px solid #c2c2c4;
  border-bottom: 1px solid #c2c2c4;
}

/* Default cell styles */
.default {
  background-color: #ffffff;
}

/* Barrier cell styles */
.barrier {
  background-color: #cfd8dc;
}
