.mainSectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 71.25rem;
  margin: 10rem auto;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  padding: 2rem 0 2rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.buttonControllers {
  display: flex;
  margin-bottom: 1.25rem;
  gap: 1rem;
}

.zeroDataSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.animationContainer {
  max-width: 42.1875rem; /* 675px */
}

.canvas {
  display: grid;
  grid-template-columns: repeat(30, 22.5px);
  grid-template-rows: repeat(25, 22.5px);
  position: relative;

  border-top: 1px solid #c2c2c4;
  border-left: 1px solid #c2c2c4;
}

.currentTime {
  display: flex;
  align-items: center;
  justify-self: center;
}


/* Slider styles */
.track::before {
  background-color: rgba(186, 186, 186, 0.8);
}

.mark {
  scale: 2;
  border-radius: 50%;
}

.mark[data-filled] {
  border-color: var(--mantine-color-blue-6);
}

.markLabel {
  font-size: var(--mantine-font-size-xs);
  margin-bottom: rem(5px);
  margin-top: 0;
}

.thumb {
  height: rem(16px);
  width: rem(16px);
  background-color: var(--mantine-color-white);
  border-width: rem(1px);
  box-shadow: var(--mantine-shadow-sm);
}
