.itemManager {
  margin: 0 auto;
  padding: 0 9.375rem;
  width: max-content;
}

.wrapper {
  display: flex;
  width: max-content;
  gap: 1.75rem;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.allTables {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  height: auto;
}