.nav {
  border-bottom: 1px solid #e5e7eb;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}
