.id {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  transition: all 0.2s ease-in-out;
}

.table {
  width: 1.5rem;
  height: 1.5rem;
}

.grid {
  width: 22.5px;
  height: 22.5px;
}

.robot {
  border-radius: 50%;
  border: 1px solid rgba(31, 35, 40, 0.25);
}

.task {
  border: 1px solid rgba(31, 35, 40, 1);
  transform: translateX(-.5px) translateY(-.5px);
}

.remove {
  opacity: 0;
}