/* Base button styles */
.button {
  min-width: max-content;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: rgba(31, 35, 40, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.08s cubic-bezier(0.65, 0, 0.35, 1),
    box-shadow 0.08s cubic-bezier(0.65, 0, 0.35, 1),
    border-color 0.08s cubic-bezier(0.65, 0, 0.35, 1);
  border: 1px solid transparent;

  transition: all 0.2s ease-in-out;
}

/* Button sizes */
.small {
  height: 1.75rem;
  padding: 0 0.75rem;
}

.medium {
  height: 2rem;
  padding: 0 1rem;
}

.large {
  height: 2.5rem;
  padding: 0 1.25rem;
}

/* Primary button styles */
.primary {
  color: #f6f8fa;
  background-color: #0f172a;
}

.primary:hover {
  background-color: #1e293b;
}

.primary:focus,
.primary:active {
  background-color: #334155;
}

/* Secondary button styles */
.secondary {
  color: rgb(31, 35, 40);
  background-color: #f6f8fa;
  border: 1px solid rgba(31, 35, 40, 0.15);
}

.secondary:hover {
  border-color: rgba(31, 35, 40, 0.15);
  background-color: #f3f4f6;
}

.secondary:focus,
.secondary:active {
  background-color: #ebecf0;
}

/* Tertiary button styles */
.tertiary {
  display: inline-flex;
  color: rgb(31, 35, 40);
  box-shadow: none;
}

.tertiary span {
  position: relative;
}

.tertiary span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1px;
  width: 0%;
  background-color: rgb(31, 35, 40);
  transition: width 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.tertiary:hover span::before {
  width: 100%;
}

.tertiary:focus span::before,
.tertiary:active span::before {
  width: 100%;
}

/* Button Misc */
.disabled,
.disabled:hover {
  background-color: #cfd8dc;
  color: #9ea7aa;
  cursor: not-allowed;
  box-shadow: none;
  border: 1px solid #cfd8dc;
}

.fullWidth {
  width: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
