/* FILLED */
.rootFilled,
.rootIntro,
.rootAbstract {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  background-color: rgb(82, 82, 82);
  border-color: rgb(82, 82, 82);
  border-width: 1px;
  border-radius: 15px;
  height: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
}

.rootFilled:hover {
  background-color: rgb(102, 102, 102);
  border-color: rgb(102, 102, 102);
}

.labelFilled,
.labelOutlined,
.labelAbstract {
  font-size: 0.9375rem;
  font-weight: 500;
}

.labelIntro,
.labelBig {
  font-size: 1.1rem;
}

/* OUTLINED */
.rootOutlined {
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  font-size: 15px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0);
  color: #fafafa;
  border: 1px solid #717070;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04);
  border-width: 1px;
  border-radius: 15px;
  font-weight: 500;
}

.rootOutlined:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* INTRO */
.rootIntro {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  animation: shadowAnimation 3s infinite alternate;
}

@keyframes shadowAnimation {
  0%,
  100% {
    box-shadow: 0 0 1rem 2px rgba(102, 153, 255, 1);
  }
  25% {
    box-shadow: 0 0 1rem 2px rgba(255, 153, 204, 1);
  }
  50% {
    box-shadow: 0 0 1rem 2px rgba(153, 204, 255, 1);
  }
  75% {
    box-shadow: 0 0 1rem 2px rgba(204, 255, 153, 1);
  }
}

/* ABSTRACT */
.rootAbstract {
  padding-left: 13px;
  padding-right: 13px;
  border-color: rgb(56, 189, 248);
  background-color: transparent;
  background-image: none;
  color: rgb(56, 189, 248);
  box-shadow: none;
}

.rootAbstract:hover {
  box-shadow: 0px 2px 10px 0 rgba(56, 189, 248, 0.4);
}

.labelAbstract {
  color: rgb(14, 165, 233);
}
